.person-candidate-block {
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    min-width: 422px;
    height: 500px;

    background: var(--cloud-dancer);
    border: 4px solid var(--cloud-cover);
    box-shadow: 4px 4px 4px var(--shadow1);
    border-radius: 8px;
}

.person-candidate-block>div {
    width: 100%;
}

.person-candidate-block textarea {
    resize: none;
    outline: none;
    background-color: transparent;
}

.person-candidate-block input {
    outline: none;
    background-color: transparent;
}

.person-candidate-block-settings {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    height: 36px;
}

.person-candidate-block-color {
    height: 36px;
    flex: 1;
}

.candidate-name {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 0px;

    width: 100%;
    height: 34px;

    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
    text-align: center;

    color: var(--stretch-limo);
    border: none;
}

.candidate-experience {
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px;

    width: 100%;
    height: 100px;

    border: 1px solid var(--hematite);
    border-right: 0;
    border-left: 0;
    border-bottom: 0;

    font-family: 'Roboto Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;

    overflow-y: scroll;
    scrollbar-width: none;
    color: var(--graphite);
}

.candidate-promise {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px;

    width: 100%;
    height: 100px;

    border-width: 1px 0px;
    border-style: solid;
    border-color: var(--hematite);

    font-family: 'Roboto Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;

    color: var(--graphite);
}

.candidate-media {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    width: 100%;
    height: 129px;

    border-bottom: 1px solid var(--hematite);
}

.candidate-media>div:first-child {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;

    width: 100%;
    height: 21px;

    font-family: 'Roboto Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    text-align: right;

    color: var(--text);
}

.candidate-media>div:nth-child(2) {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    width: 100%;
    height: 42px;
}

.candidate-media>div:nth-child(2)>div {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    width: 50%;
    height: 42px;
}

.candidate-media>div:nth-child(2)>div>div {
    width: 50%;
}

.candidate-media>div:nth-child(2)>div span {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 16px;

    height: 42px;

    font-family: 'Roboto Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    width: fit-content;
    color: var(--stretch-limo);
}

.candidate-media>div:nth-child(2)>div.negative-block span {
    text-align: left;
}

.candidate-media>div:nth-child(2)>div.positive-block span {
    text-align: right;
}

.candidate-media-number-block {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 16px;

    width: 50%;
    height: 42px;
}

.negative-block>.candidate-media-number-block {
    align-items: flex-end;
}

.positive-block>.candidate-media-number-block {
    align-items: flex-start;
}

.candidate-media-number-block>input {
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 12px;

    width: 45px;
    height: 29px;

    background: var(--nimbus-cloud);
    border: 1px solid var(--hematite);
    border-radius: 8px;

    font-family: 'Roboto Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;

    text-align: center;

    color: var(--stretch-limo);
    pointer-events: none;
}

.candidate-media>div:last-child {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;

    width: 100%;
    height: 56px;
}

.election-rating {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    width: 100%;
    height: 101px;
}

.election-rating>div:first-child {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    width: 100%;
    height: 45px;
}

.election-rating>div:first-child>div:first-child {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 16px;

    width: 50%;
    height: 45px;

    font-family: 'Roboto Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;

    text-align: right;

    color: var(--text);
}

.election-rating>div:first-child>div:last-child {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 8px 16px;

    width: 50%;
    height: 45px;
}

.election-rating>div:first-child>div:last-child>input {
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 8px;

    width: 47px;
    height: 29px;

    background: var(--nimbus-cloud);
    border: 1px solid var(--hematite);
    border-radius: 8px;

    font-family: 'Roboto Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    text-align: center;
    pointer-events: none;

    color: var(--stretch-limo);
}

.election-rating>div:last-child {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;

    width: 100%;
    height: 56px;
}

input[type="range"] {
    appearance: none;

    width: 218px;
    height: 16px;

    background: var(--mango-mojito);
    border-radius: 50px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    box-sizing: border-box;

    border-radius: 50%;

    cursor: pointer;

    width: 32px;
    height: 32px;

    background: var(--regatta);
}