.person-candidate-block {
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    min-width: 422px;
    height: 500px;

    background: var(--cloud-dancer);
    border: 4px solid var(--cloud-cover);
    box-shadow: 4px 4px 4px var(--shadow1);
    border-radius: 8px;
}

.person-candidate-block>div {
    width: 100%;
}

.person-candidate-block textarea {
    resize: none;
    outline: none;
    background-color: transparent;
}

.person-candidate-block input {
    outline: none;
    background-color: transparent;
}


