.country-name {
    box-sizing: border-box;
    padding: 30px 20px 0;
    width: 100%;

    height: 80px;

    background: transparent;

    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: clamp(18px, 2vw, 24px);
    line-height: 233%;

    color: var(--peach-dust);

    border: none;
    outline: none;
}

input+div {
    width: 100%;
    height: 20px;
}

div.underline {
    box-sizing: border-box;
    height: 2px;
    margin: 0px 20px;

    border: 4px solid var(--peach-dust);
    border-radius: 999px;
}