.region-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px;
    gap: 12px;
}
.region-result-title{
    font-family: 'Roboto Serif';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
}

.region-container>div:last-child {
    box-sizing: border-box;
    width: fit-content;
    border: 4px solid var(--mango-mojito);
    border-radius: 8px;
}

.table {
    box-sizing: border-box;
    border-collapse: collapse;
    padding: 0px;

    table-layout: auto;
    width: max-content;
}

.table th,
.table td {
    box-sizing: border-box;

    align-items: center;
    border: 1px solid var(--mango-mojito);

    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;

    color: var(--stretch-limo);
}

.table th {
    background: var(--shifting-sand);
    padding: 12px;
}

.table td {
    background: var(--amberlight);
    padding: 12px;
}