.country-template {
    width: 100%;
    display: flex;
    justify-content: center;
}

.country-template>div {
    width: 75%;
    box-sizing: border-box;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    border: 4px solid var(--hematite);
    border-radius: 24px;
}

.country-settings-panel {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.country-settings-panel>div {
    width: 50%;
    display: block;
    height: 100px;
}

.country-settings-panel>div:last-child {
    display: flex;
    justify-content: flex-end;
}

.country-settings-panel>div:first-child>div {
    width: 40%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background: var(--rose-brown);
}

